body, html {
  height: 100%;
  margin: 0;
}

h1{
    text-align: center;
  }/* You can add global styles to this file, and also import other style files */

  header{
    text-align: center;
  }

  header a:nth-of-type(1){
    margin-right: 10px;
  }

.errors{
  color: red;
}

.warnings{
  color: orange;
}

footer{
  text-align: center;
}

footer a{
  margin-right: 10px;
}
